.postDetailsPage {
  padding: 50px 30px;
  box-sizing: border-box;
}

.backButton {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 14px;
  padding: 7px 12px;
  border: none;
  border-radius: 10px;
}

.image {
  width: 20%;
}
